.hidden {
    display: none;
}

.container { 
    width: 90%; 
    max-width: 1100px; 
    margin: 0 auto; 
}


/* GENERAL STYLES FOR SECTIONS */
.movies__section, .genres__section, .director__section, .upcoming__section, .news__section, .about__section, .newsletter__section { 
    padding: 30px 30px; 
    margin: auto;
}

.section__title { 
    display: inline-block;
    font-size: 1.8rem; 
    margin-bottom: 25px; 
    position: relative; 
    font-weight: bold;

    cursor: default;
}

.section__title::after { 
    content: ''; 
    position: absolute; 
    bottom: -12px; 
    left: 0; 
    width: 40px; 
    height: 5px; 
    background: #e50914; 
    transition: 0.3s;
}

.section__title:hover::after {
    width: 100%;
}

.section__text {
    color: #aaaaaa;
    line-height: 1.6;
    max-width: 800px;
}

/* STYLING THE HEADER */

.main__header { 
    background: #000000; 
    position: sticky; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    padding: 20px 20px;
}

.header__container { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo { 
    font-size: 1.6rem; 
    font-weight: 700; 
    color: #ffffff; 
    text-decoration: none; 

}

.logo span  { 
    color: #e50914; 
}

.fa-film {
    transition:0.7s;
}

.fa-film:hover {
    color: #e50914; 
    transform: rotate(360deg);
}

.nav__list { 
    display: flex; 
    gap: 20px; 
    list-style: none; 
}

.nav__link { 
    text-decoration: none; 
    color: #ffffff; 
    font-weight: 500; 
    transition: 0.3s;
    position: relative;
}

.nav__link::after {
    content: "";
    height: 4px;
    width: 0;
    position: absolute;
    left:50%;
    bottom: -5px;
    background-color: #e50914;
    transition: 0.3s;
}

.nav__link:hover::after {
    width: 100%;
    left: 0%;
}

.nav__link:hover, .nav__link--active { 
    color: #e50914; 
    transition: 0.3s;
}

.nav__link--active:hover {
    color: white;
    
}

.burger__menu { 
    display: none; 
    background: none; 
    border: none; 
    font-size: 1.5rem; 
    cursor: pointer; 
    color: #ffffff; 
}

/* ========= STYLING THE HERO SECTION ========= */

.hero__section { 
    height: 60vh; 
    background-image: url("../images/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative; 
    display: flex; 
    align-items: center; 

}

.hero__gradiant { 
    position: absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.205), #141414); 
}

.hero__content { 
    position: relative; 
    max-width: 600px; 
    z-index: 2; 
}


.hero__title { 
    font-size: 2.8rem; 
    margin-bottom: 15px; 
    font-weight: bolder;
    line-height: 140%;
}

.hero__text { 
    margin-bottom: 25px; 
    color: #aaaaaa; 
    line-height: 130%;
}

.btn--primary { 
    display: inline-block; 
    background: #e50914; 
    color: white; 
    padding: 15px 25px; 
    border-radius: 4px; 
    text-decoration: none; 
    font-weight: 600; 
    border: none;
    cursor: pointer;
    transition: 0.3s; 
}

.btn--primary:hover { 
    transform: scale(1.05); 
    color: #e50914;
    background-color: white;
}

/* ====== STYLING THE MOVIES SECTION ====== */



.movies__grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    gap: 25px; 
}

.movie__card { 
    background: #1f1f1f; 
    border-radius: 8px; 
    overflow: hidden; 
    transition: 0.3s; 
}

.movie__card:hover { 
    transform: translateY(-5px); 
}

.movie__img__box { 
    height: 320px; 
}

.movie__img__box img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.movie__info { 
    padding: 15px; 
}

.movie__info h3 { 
    font-size: 1.1rem; 
    margin-bottom: 5px; 
    text-wrap: nowrap;
    overflow: hidden; 
    
}

.movie__rating { 
    color: #ffbc00; 
    font-size: 0.9rem; 
}


/* =============== STYLING THE GENRE SECTION ============= */

.genres__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.genre__card {
    background: #1f1f1f;
    border: 1px solid #2c2c2c;
    padding: 30px 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.genre__card:hover {
    border-color: #e50914;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(229, 9, 20, 0.1);
}

.genre__icon {
    font-size: 2.5rem;
    color: #e50914;
    margin-bottom: 15px;
}

.genre__title {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 600;
}

.movie__count {
    font-size: 0.85rem;
    color: #aaaaaa;
}




/* =============== STYLING THE DIRECTOR OF THE MONTH SECTION ============= */

.director__section {
    background: linear-gradient(180deg, #141414, #0a0a0a, #141414);
}

.director__container {
    display: flex;
    align-items: center;
    gap: 50px;
    background: #1f1f1f;
    padding: 40px;
    border-radius: 12px;
}

.director__img__container {
    max-width: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.director__image{
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: 0.4s ease;
}

.director__container:hover .director__image {
    transform: scale(1.05);
}



.director__badge {
    display: inline-block;
    background: rgba(229, 9, 20, 0.15);
    color: #e50914;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 15px;
    border: 1px solid #e50914;
}

.director__title {
    font-size: 2.3rem;
    margin-bottom: 15px;
}

.director__bio {
    color: #aaaaaa;
    line-height: 1.7;
    margin-bottom: 25px;
}

.director__movies {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.director__movie {
    background: #2c2c2c;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: 0.3s ease;
}

.director__movie:hover {
    background: #e50914;
    cursor: default;
}

/*============ STYLING THE UPCOMING MOVIES SECTION =====*/

.upcoming__movies {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.upcoming__movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    border-left: 4px solid transparent;
    transition: 0.3s ease;
}

.upcoming__left__container {
    display: flex;
    align-items: center;
}

.upcoming__movie:hover {
    border-left: 4px solid #e50914;
    background: #252525;
    transform: translateX(5px);
}

.upcoming__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2c2c2c;
    padding: 10px;
    width: 60px;
    border-radius: 6px;
    text-align: center;
}

.day {
    font-size: 1.4rem;
    font-weight: 700;
    color: #e50914;
}

.month {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #aaaaaa;
}

.upcoming__details {
    padding: 0 25px;
}

.upcoming__movie__title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.upcoming__movie__details {
    color: #aaaaaa;
    font-size: 0.9rem;
}

.status__badge {
    background: #2c2c2c;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 0.85rem;
    color: #ffffff;
}

.status__badge--animated {
    background: rgba(229, 9, 20, 0.2);
    color: #e50914;
    border: 1px solid #e50914;
}

/* ============= STYLING THE NEWS SECTION ====== */



.news__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 10px;
}

.news__card {
    background: #1f1f1f; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    min-height: 443px;
    position: relative;
}

.news__card:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.news__img__container {
    position: relative;
    height: 200px;
    max-width: 450px;
    overflow: hidden;
}

.news__image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.news__card:hover .news__image {
    transform: scale(1.08);
}

.news__category {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #e50914; 
    color: #ffffff;
    padding: 4px 12px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 4px;
}

.news__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.news__date {
    font-size: 0.8rem;
    color: #aaaaaa;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;

}

.news__title {
    font-size: 1.15rem;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
   
}

.news__text {
    color: #aaaaaa;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.news__read-more {
    color: #e50914;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s ease;
    padding: 4px 5px;
    border-radius: 12px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.news__read-more:hover {
    color: #1f1f1f;
    gap: 12px; 
    background-color: #e50914;
}

/*================ STYLING THE NEWS HTML PAGES =============*/

.blog__main {
    padding-top: 120px;
    padding-bottom: 60px;
    background-color: #141414; 
}

.blog__post__container {
    margin: 0 auto;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    min-height: 400px;
}

.post__main__title {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.3;
    font-weight: bolder;
}


.spotlight__badge {
    background-color: rgba(229, 9, 20, 0.15); 
    color: #e50914; 
    border: 1px solid #e50914;
    border-radius: 12px;
    padding: 7px ;
}

.post__date {
    margin-bottom: 20px; 
    font-size: 0.9rem;
}

.blog__post__img {
    max-width: 800px;
}
.blog__image {
    width: 100%;
    min-height: 400px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 30px;
}

.blog__post__content {
    line-height: 1.8; 
    color: #dddddd; 
    font-size: 1.1rem;
}

.blog__post__content h2 {
    color: #ffffff; 
    margin: 30px 0 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.blog__post__end {
    margin-top: 40px; 
    padding-top: 20px; 
    border-top: 1px solid #2c2c2c;
}

.blog__end__return {
    text-decoration: none; 
    background-color: rgba(229, 9, 20, 0.2);
    color: #e50914;
    border: 1px solid #e50914;
    padding: 7px 10px;
    border-radius: 20px;
    transition: 0.3s;
}

.blog__end__return:hover {
    background-color: #e50914;
    color: white;
}

.return__btn {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
}
.return__btn:hover {
    color: #e50914;
}


/* ======== STYLING THE ABOUT US SECTION ========= */


.about__section {
    margin: auto;
    transition: 0.3s;
}
.about__container {
    display: flex;
    align-items: center;
    background-image: url("../images/about_us.jpg");
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}


.aboutUs__title {
    font-size: 2.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 1.4;
    font-weight: bolder;
    
}

.aboutUs__text {
    color: #aaaaaa;
    line-height: 1.7;
    margin-bottom: 15px;
    font-size: 1.05rem;
}

.about__section:hover {
    transform: scale(1.04);

}


/* STYLING THE NEWSLETTER SECTION */

.newsletter__form {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    max-width: 500px;
}

.newsletter__input {
    padding: 12px 100px 12px 12px;
    background: #2c2c2c;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
}

.newsletter__container {
    margin: auto;
}

/* ===== STYLING THE FOOTER ======= */
.footer { 
    background: #0a0a0a; 
    padding: 30px 0; 
    text-align: center; 
    color: #ffffff; 
    font-size: 0.9rem; 
}
.footer__container {
    margin: auto;
}
.contact__link {
    color: white;
}
.footer__copyright {
    margin-top: 10px; 
    color: #aaaaaa;
}


/* ============== STYLING THE COOKIE BANNER  ==================== */
.cookie__banner {
    display: flex;
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #1f1f1f;
    border-top: 2px solid #e50914;
    box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.5);
    z-index: 2000; 
    padding: 15px 0;
}



.cookie__container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cookie__container p {
    font-size: 0.95rem;
    color: #ffffff;
    line-height: 1.4;
}

.fa-cookie-bite {
    color: #e50914; 
    margin-right: 8px;
}
.cookie__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cookie__btn {
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    transition: 0.2s ease;
}
.accept__cookies__btn {
    background-color: green;
}
.decline__cookies__btn {
    background-color: red;
}
.cookie__btn:hover {
    transform: scale(1.03);
}
 /* STYLING SCROLL TO TOP BUTTON */


.scroll__btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #e50914;
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 1500;
    transform: translateY(20px);
    transition: all 0.3s ease;
    display: none;
}


/*========= RESPONSIVE ===== */

@media (max-width:1024px){
    .container {
        width: 92%;
    }
    
    /* HERO SECTION - 1024PX RESPONSIVE */

    .hero__title {
        font-size: 2.8rem;
    }

    /* MOVIE SECTION */
    #movies__container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    /* DIRECTOR SECTION */
    .director__title {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .director__bio {
        font-size: 0.9rem;
    }
}


@media (max-width: 768px) {
    .main__header {
        padding: 10px 0;
    }
    .burger__menu { 
        display: block; 
    }
    .navbar { 
        position: absolute; 
        top: 100%; 
        left: -100%; 
        width: 100%; 
        background: #1f1f1f; 
        transition: 0.3s; 
    }
    .navbar.active { 
        left: 0; 
    }
    .nav__list { 
        flex-direction: column; 
        padding: 30px; 
        gap: 20px; 
        text-align: center; 
    }
   /*  HERO - 768PX RESPONSIVE */

    .hero__section {
        padding: 140px 0 60px 0;
        text-align: center;
    }

    .hero__title {
        font-size: 2.2rem;
    }

    /* HERO - 768PX RESPONSIVE */

    .director__container {
        flex-direction: column;
        text-align: center;
        padding: 25px;
    }
    .director__img__container {
        max-width: 100%;
        height: 250px;
    }
    .director__movies {
        justify-content: center;
    }
    /* UPCOMING MOVIES - 768PX RESPONSIVE */
    .upcoming__movie {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    .upcoming__details {
        padding: 5px;
    }

    .upcoming__left__container {
       flex-direction: column;
       gap: 10px;
       margin: auto;
    }
    .upcoming__movie__title {
        font-size: 1rem;
    }

    .upcoming__movie__details {
        font-size: 0.6rem;
    }
    .day {
        font-size: 1.1rem;
    }
    .upcoming__date {
        max-width: 40px;
    }
    .status__badge {
        margin: auto;
    }

    /* NEWS SECTION - 768PX RESPONSIVE */

    .news__title {
        font-size: 0.9rem;
    }
    .news__text {
        font-size: 0.8rem;
    }
    .news__read-more {
        font-size: 0.7rem;
    }

    /* NEWS HTML PAGES - 768PX RESPONSIVE */

    .blog__post__container {
        padding: 20px;
    }
    .post__main__title {
        font-size: 1.7rem;
    }
    .blog__post__content h2 {
        font-size: 1.3rem;
    }
    .blog__post__content p {
        font-size: 1rem;
        line-height: 1.5;
    }
    .blog__end__return {
        font-size: 0.8rem;
    }

    .spotlight__badge {
        font-size: 0.8rem;
    }

    .blog__post__img {
        max-width: 600px;
        margin: auto;
        min-height: auto;
    }
    .blog__image {
        width: 100%;
    }

    /* ABOUT US - 768PX RESPONSIVE */
    .aboutUs__title {
        font-size: 1.5rem;
        
    }
    .aboutUs__text {
        font-size: 1rem;
        line-height: 1.4;
    }
}

@media (max-width:480px) {
    .logo {
        font-size: 1.3rem; 
    }
    .section__title {
        font-size: 1.6rem;
        text-align: center;
    }
    .section__title::after {
        width: 100%;
        bottom: -15px;
    }

    /*  HERO - 480PX RESPONSIVE */

     .hero__title {
        font-size: 1.8rem;
    }

    .hero__text {
        font-size: 0.9rem;
    }

    /* MOVIE SECTION - 480PX RESPONSIVE */

     .movies__grid {
        grid-template-columns: 1fr; 
    }

    /* GENRE SECTION - 480PX RESPONSIVE */
    
    .genres__grid {
        grid-template-columns: repeat(1,300px);
        justify-content: center;
    }

    /* NEWS SECTION - 480PX RESPONSIVE */
    .news__grid {
        justify-content: center;
        grid-template-columns: 350px;

    }

    /* NEWS HTML PAGES - 480PX RESPONSIVE */
    .blog__post__container {
        max-width: 400px;

    }
    .blog__post__img {
        max-width: 350px;
    }
    .blog__image {
        width: 100%;
    }
    .post__main__title {
        font-size: 1.3rem;
    }
    .blog__post__content p {
        font-size: 0.8rem;
        line-height: 1.5;
    }
    .blog__post__content h2 {
        font-size: 1rem;
        margin: 5px 0px;
        font-weight: 500;
    }

    .blog__end__return {
        font-size: 0.7rem;
    }

    .return__btn {
        font-size: 0.8rem;
    }

    /* ABOUT US - 480PX RESPONSIVE */
    .aboutUs__title {
        font-size: 1.2rem;     
    }
    .aboutUs__text {
        font-size: 0.9rem;
        color: #dddddd;
    }

    /* NEWSLETTER SECTION - 480PX RESPONSIVE */
    .newsletter__form {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .newsletter__input, 
    .newsletter__form .btn--primary {
        width: 100%;
        border-radius: 4px;
        font-size: 0.8rem;
    }


}

@media (max-width:320px) {
    img {
        max-width: 100% !important;
        height: auto !important;
    }
    /* GENERAL FONT SIZE */

    body {
        font-size: 14px;
    }

    .section__title {
        font-size: 1.4rem;
    }

    /* HERO SECTION - 32OPX RESPONSIVE */

     .hero__title {
        font-size: 1.5rem;
    }

    /* GENRE SECTION - 320PX RESPONSIVE */
    .genres__grid {
        grid-template-columns: repeat(1,250px);
    }

    /* UPCOMING MOVIES - 320PX RESPONSIVE */
    .upcoming__movie__title {
        font-size: 0.8rem;
    }
    .upcoming__movie__details {
        font-size: 0.5rem;
    }

    .status__badge {
        font-size:0.7rem;
    }

    /* NEWS SECTION - 32OPX RESPONSIVE */
    .news__grid {
        grid-template-columns: 250px;
    }
    .news__card {
        max-width: 250px;
    }

    .news_title {
        font-size: 0.6rem;
    }

    .news__text {
        font-size: 0.7rem;
    }
    .news__read-more {
        font-size: 0.7rem;
    }

    .news__date {
        font-size: 0.6rem;
    }
    .news__category {
        font-size: 0.4rem;
        padding: 4px;
    }

    /* NEWS HTML PAGES - 320PX RESPONSIVE */
    
    .blog__post__img {
        max-width: 250px;
        min-height: 50px;
    }
    .blog__image {
        width: 100%;
    }

    .blog__post__content h2 {
        text-align: center;
        font-weight: bold;
    }
    .blog__post__content p {
        font-size: 0.7rem;
        line-height: 1.6;
    }

    .return__btn {
        font-size: 0.6rem;
    }
    .blog__logo {
        font-size: 1rem;
    }

    /* ABOUT US - 32OPX RESPONSIVE */
    .about__container {
        text-align: center;
    }
    .aboutUs__title {
        font-size: 1rem;
    }
    .aboutUs__text {
        font-size: 0.7rem;
    }
    .about__container .spotlight__badge {
        font-size: 0.6rem;
    }

    /* FOOTER */
    .footer {
        font-size: 0.8rem;
    }
}